#ourteam {
  background: #f4f4fd;
}
.our-team-img {
  background-color: #ffffff;
  margin-left: 1px;
}

/*НЕ ТРОГАТЬ, ТУТ НОРМ */
.main2 {
  background-color: #2e2f42;
  color: #ffffff;
}

.portfolio-item-title {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

/*НЕ ТРОГАТЬ, ТУТ OUR Portfolio */
.section-title {
  font-family: Roboto;
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-align: center;
}

.ul-list-style-none {
  list-style: none;
  font-style: normal;
}
/*НЕ ТРОГАТЬ, ТУТ НОРМ */
#ourteam h2 {
  font-family: Roboto;
  color: black;
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  text-align: center;
}
/*НЕ ТРОГАТЬ, ТУТ НОРМ */
#ourteam h3 {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}
/*НЕ ТРОГАТЬ, ТУТ НОРМ */
#ourteam p {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/*НЕ ТРОГАТЬ, ТУТ НОРМ */
.our-features h3,
.our-features p {
  padding-left: 50px;
}
.ourteam1 {
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.ourteam1 h2 {
  text-align: left;
}

/*НЕ ТРОГАТЬ, ТУТ НОРМ */
.main1 > h1 {
  text-align: center;
}
/*НЕ ТРОГАТЬ, ТУТ НОРМ */
.main1 {
  background-color: #2e2f42;
  color: #ffffff;
}
/*НЕ ТРОГАТЬ, ТУТ НОРМ */
.main1 > button {
  background-color: #4d5ae5;
}

.main2 span {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
}
.main3 span {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-weight: 700;
}
